/* Coolors Exported Palette - coolors.co/476c31-aebf40-354c1d-3a2f2d-bc5d25 */

/* HSL */
$color1: hsla(98%, 38%, 31%, 1);
$color2: hsla(68%, 50%, 50%, 1);
$color3: hsla(89%, 45%, 21%, 1);
$color4: hsla(9%, 13%, 20%, 1);
$color5: hsla(22%, 67%, 44%, 1);

/* RGB */
$color1: #476C31;
$color2: #AEBF40;
$color3: #374D1F;
$color4: #3A2F2D;
$color5: #BC5D26;

$color21: #7f7739 ;
$color22: #a7bb62 ;
$color23: #eae685 ;
$color24: #b7dd94 ;
$color25: #c8e4ca ;

// $color31: # ;
// $color32: # ;
// $color33: # ;
// $color34: # ;
// $color35: # ;